/*.todayWeather {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47%;
    margin: 0 auto;
    text-align: center;
    width: 700px;
    height: 400px;
    background-color: gray;
}

.weather {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47%;
    margin: 0 auto;
    width: 700px;
    height: 400px;
}*/

.sunCycle {
    position: relative;
    left: 0;
    right: 0;
    bottom: 47%;
    margin: 0 auto;
    width: 600px;
    height: 300px;
    border: 2px solid yellow;
    border-bottom: 0;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.sunrise {
    position: absolute;
    left: 10px;
    bottom: -10px;
}

.sunrise img, .sunset img {
    position: absolute;
    width: 27px;
}

.sunrise img {
    left: 0px;
}

.sunset img {
    right: 36px;
}

.sun img {
    position: absolute;
    height: 27px;
}

/*.sunrise {
    position: abolute;
    bottom: 0px;
}


.sunriseTime, .sunsetTime {
    position: absolute;
    bottom: 20px;
    font-size: 1.4rem;
}*/

/*.sunriseTime {
    left: 70px;
}

.sunsetTime {
    right: 70px;
}*/